<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<style>
    .pageNumber {
        margin-right: 5px;
        color: black;
        text-decoration: none;
    }

    .active a {
        color: coral;
    }
</style>
<body>
<h1>index</h1>

<div sec:authorize="!hasAuthority('Resident')">
    <a href="/loginForm">Login</a>

    <a href="https://github.com/login/oauth/authorize?client_id=a1f50437553075286e71&redirect_uri=http://localhost:8080/login/oauth2/code/github">
        깃 로그인
    </a>
</div>

<div sec:authorize="hasAuthority('Resident')">
    <a href="/logout">Logout</a>

    <p th:text="${name}"></p>
    <p th:text="${email == null} ? '' : ${email}"></p>
</div>


<div sec:authorize="hasAuthority('Resident')">
    <div style="display: flex; justify-content: center;">
        <table border="1" style="width: 1400px; border-collapse: collapse; text-align: center">
            <thead>
            <tr>
                <td style="width: 80px">번호</td>
                <td>이름</td>
                <td style="width: 100px">성별</td>
                <td style="width: 140px">생일</td>
                <td>가족관계증명서</td>
                <td>주민등록등본</td>
                <td>출생신고서</td>
                <td>사망신고서</td>
            </tr>
            </thead>

            <tbody>
            <tr>
                <td th:text="${resident.residentSerialNumber}"></td>
                <td th:text="${resident.name}"></td>
                <td th:text="${resident.genderCode}"></td>
                <td th:text="${resident.birthDate}"></td>
                <td>
                    <a th:href="'/family/' + ${resident.residentSerialNumber}">가족관계증명서</a>
                </td>
                <td>주민등록등본</td>
                <td>출생신고서</td>
                <td>사망신고서</td>
            </tr>

            <th:block th:each="family : ${familyList}">
                <tr>
                    <td th:text="${family.familyResident.residentSerialNumber}"></td>
                    <td th:text="${family.familyResident.name}"></td>
                    <td th:text="${family.familyResident.genderCode}"></td>
                    <td th:text="${family.familyResident.birthDate}"></td>
                    <td>
                        <a th:href="'/family/' + ${family.familyResident.residentSerialNumber}">가족관계증명서</a>
                    </td>
                    <td>
                        <a th:href="'/info/' + ${family.familyResident.residentSerialNumber}">주민등록등본</a>
                    </td>
                    <td>출생신고서</td>
                    <td>사망신고서</td>
                </tr>
            </th:block>
            </tbody>
        </table>

        <br>
        <br>

    </div>

</div>


</body>
</html>